.flex-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

        }
        .flex-items img{
             background-color: darkblue;
            margin: 10px;
            width: 200px;
            height: 150px;
            color: aliceblue;
            text-align: center;
            font-size: 40px;
            display: flex;
            justify-items: center;
        }
        