h3{
    color:aliceblue !important;
    background-color: black !important;
}

.t_upper{
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
}

.t_center{
    text-align: center;
}

.t_d_under{
    text-decoration: underline;
}

.t_d_over{
    text-decoration: overline;
}

.t_d_line{
    text-decoration: line-through;
}

.t_decor{
    text-decoration: underline overline line-through;
}

.t_intent{
    text-indent: 160px;
}