h3{
    color:aliceblue !important;
    background-color: black !important;
}

.t_upper{
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
}

.t_center{
    text-align: center;
}

.t_d_under{
    text-decoration: underline;
}

.t_d_over{
    text-decoration: overline;
}

.t_d_line{
    text-decoration: line-through;
}

.t_decor{
    text-decoration: underline overline line-through;
}

.t_intent{
    text-indent: 160px;
}
.b_shadow{
    box-shadow: 10px 10px,8px red;
    width:250px;
}
.d_shadow{
    filter:drop-shadow(4px 6px 5px red(24,256,193));
    width:259px;
}

.t_color{
    color:aqua;

}

#t_size{
    font-size: 20px;
}
#t_shadow{
     text-shadow:10px 5px 6px blue;
}

.t_shadow{
    text-shadow: 10px 5px 5px red;
}

.t_bg{
    background-color: blue;
}
.box_model{
    border:4px solid yellow;
    padding:120px;
    margin:100px;
}

.box_model1{
    border:4px solid red;
    padding:12px 45px 60px 70px;
    margin:40px 30px 20px 50px;
}
.box_model2{
    border:4px solid navy;
    padding:120px;
    margin:100px;
    height:250px;
    width:300px;
}
.box_model3{
    border:4px solid rgb(0, 115, 128);
    padding:50px 20px 50px 20px;
    margin:100px 120px 100px 120px;
}

